<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-10">
      <h1>User#index</h1>
      <p>Find me in app/views/user/index.html.erb</p>
      <table class="border">
        <thead>
        <tr align="center">
          <th>Title</th>
          <th>Content</th>
          <th>User</th>
          <th>User2</th>
        </tr>
        </thead>

        <tbody>
        <% @reviews.each do |a| %>
          <tr>
            <td align="center"><%= a.title %></td>
            <td align="center"><%= a.content %></td>
            <td align="center"><%= a.user.id %></td>
            <td align="center"><%= a.user.email %></td>
            <td align="center"><%= current_user.id %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <h1>Users</h1>

      <ul>
        <% @users.each do |user| %>
          <li>
            <%= link_to user.email, user_path(user.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>