<div class="container text-center mt-5">
  <div class="row justify-content-md-center">
    <div class="col-7">
      <h1><%= fa_icon('ring spin') %><%= @review.title %></h1>

      <p><%= @review.content %></p>

      <h3>Comments</h3>
      <% @review.comments.each do |comment| %>
      <%= render @review.comments %>
      <% end %>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>