<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid" style="height:40px;">
  <%= link_to fa_icon('meteor'), root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mr-auto mb-2 mb-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Book</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Reviews', reviews_index_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <form class="justify-content-end">
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-sm btn-warning mr-2' %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-danger' %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-sm btn-info button' %>
      <% end %>
    </form>
  </div>
</nav>