<!DOCTYPE html>
<html>
<head>
  <title>Coolby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag asset_path('meteor-fav.svg') %>
</head>

<body>
<% if flash[:notice] %>
<!--  <div class="notification.is-primary.global-notification">-->
<!--    <p class="notice"><%#= notice %></p>-->
<!--  </div>-->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notification.is-primary.global-notification">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>

<%= render "layouts/navbar" %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
